/*   transform : rotate(20deg), skew(40deg), scale(2,2), translate(20px, 40px) */


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div{
    width: 50px;
    height: 100px;  
    background-color: orange;
    animation: 5s scaleY infinite ;
}

@keyframes scaleY {
    
    0%{
        transform: scaleY(1);
    }

    50%{
        transform: scaleY(2);
    }
    100%{
        transform: scaleY(1);
    }
}